* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app, .layout {
  min-height: 100vh;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f8fa;
  color: #434343;
}
img {
  width: 100%;
  max-width: 100%;
}
a, input, div {
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  cursor: pointer;
}
input, textarea {
  -webkit-appearance: none;
}
i, em {
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
ul li, li {
  list-style: none;
}
.m-t20 {
  margin-top: 20px;
}
.m-b20 {
  margin-bottom: 20px;
}
.m-tb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
