// container
.el-container {
  height: 100vh;
  border: none;
}

// aside
.el-aside {
  h1.title {
    font-size: 15px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    background-color: #c11902;
  }
  .el-menu {
    height: calc(100vh - 55px);
    border: none;
  }
  .el-submenu__title i {
    color: #fff;
  }
  .el-menu-item.is-active {
    background-color: #1b3d6d !important;
  }
  .el-menu-item i {
    position: relative;
    top: -1px;
    color: #fff;
  }
}

// header
.el-header {
  display: flex;
  justify-content: space-between;
  height: 55px !important;
  line-height: 55px;
  color: #fff;
  background-color: #052a5f;
  .left {
    ul {
      display: flex;
      li {
        padding: 0 22px;
        &.active, &:hover {
          cursor: pointer;
          background-color: #fff;
          a {
            color: #052a5f;
          }
        }
        a {
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}

// container
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  .main {
    height: 100vh;
    flex: 1;
    overflow: scroll;
    header {
      position: fixed;
      left: 220px;
      right: 0;
      flex: 1;
    }
    main {
      min-height: calc(100vh - 135px);
      padding: 20px;
      margin: 75px 20px 0 20px;
      background-color: #fff;
    }
    footer {
      line-height: 60px;
      text-align: right;
      color: #999;
    }
  }
}
